apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: {{ .Values.namespace }}
data:
  MONGODB_URI: {{ .Values.config.backend.MONGODB_URI | quote }}
  JWT_EXPIRES_IN: {{ .Values.config.backend.JWT_EXPIRES_IN | quote }}
  CORS_ORIGIN: {{ .Values.config.backend.CORS_ORIGIN | quote }}
